@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* ============ button ============= */

.button {
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1.75em;
    border: 2px solid #00ff6c;
}

.button-accent {
    color: #00ff6c;
}
.button-accent:hover, .button-accent:focus {
    color: #232323;
    background: #00ff6c;
}

/* =========== header =========== */

header{
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin: 1em;
}
nav a {
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 0.5em;
    color: #fff;
}

nav a:focus , a:hover {
    color: #ddd;
}

/* ============= typography ========= */

.title {
    margin-bottom: 2em;
    font-weight: 600;
    font-size: 2rem;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: 0.8em;
}

/* =========== media query ========== */

@media(min-width: 60rem)
{
    .title {
        font-size: 3.7rem;
    }
    .logo {
        float: left;
    }
    nav {
        float: right;
    }
    .home-hero {
        height: 100vh;
    }

    .button {
        font-size: 1.5rem;
    }
}

/* ============= home-hero ========== */

.home-hero {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #fff;
}

.container {
    width: 95%;
    margin: 0 auto;
}

